[server]
%{for ip in server_ips~}
${ip}
%{endfor~}

[server:vars]
ansible_port=${ssh_port}

[agent]
%{for ip in agent_ips~}
${ip}
%{endfor~}

[k3s_cluster:children]
server
agent

[k3s_cluster:vars]
network_cidr=${network_cidr}
private_nat=${private_nat}
